.modal-overlay {
  position: fixed;
  background: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 0.7s ease-out;
  visibility: hidden;
}
.modal.fade.show > .modal-overlay {
  opacity: 0.4;
  visibility: unset;
}
.modal-dialog {
  z-index: 10;
}
