.input-error {
  display: block;
  visibility: hidden;
  color: var(--clr-red-light);
  font-size: 12px;
}

.input-error.show {
  visibility: visible;
}

.add-ticket-form {
  margin-left: 10px;
}

.ticket-column {
  flex: 1;
  min-height: 800px;
}

.ticket-column:nth-child(2) {
  border-right: 2px solid var(--clr-primary-3);
  border-left: 2px solid var(--clr-primary-3);
}

.lists-container {
  display: flex;
}

.ticket-column > h2 {
  text-align: center;
  color: var(--clr-primary-2);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--clr-primary-3);
  padding-bottom: 5px;
}

/*Ticket section*/
.ticket-item {
  margin: 5px 10px 20px 10px;
  border: 1px solid var(--clr-primary-3);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--clr-white);
  box-shadow: 1px 3px 10px 1px #0000005e;
  position: relative;
  transition: ease-in;
}

.ticket-item:hover {
  background-color: var(--clr-grey-10);
}

.ticket-item > h3 {
  text-transform: capitalize;
  margin-bottom: 3px;
}

.ticket-title {
  transition: all 0.1s linear;
}

.ticket-title:hover {
  cursor: pointer;
  color: var(--clr-primary-5);
  margin-right: 5px;
}

.ticket-title:active {
  color: var(--clr-primary-7);
}

.ticket-title > svg {
  margin-left: 5px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.ticket-title:hover > svg {
  opacity: 1;
}

.ticket-status-toggle {
  position: absolute;
  top: 5px;
  right: 50px;
}

.delete-ticket-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(173, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

.delete-ticket-button:hover {
  color: red;
}

.edit-ticket-button {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 16px;
  cursor: pointer;
}

.edit-ticket-button:hover {
  color: var(--clr-primary-5);
}

.edit-ticket-button:active {
  color: var(--clr-primary-7);
}

.text-length-toggle {
  text-transform: capitalize;
  color: var(--clr-primary-3);
  cursor: pointer;
  transition: all 0.2s linear;
}

.text-length-toggle:hover {
  color: var(--clr-primary-6);
}

.text-length-toggle:active {
  color: var(--clr-primary-4);
}

/* Modal section */
.ticket-modal-form > p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.ticket-modal-form > textarea {
  resize: vertical;
  width: 80%;
  min-height: 150px;
  max-height: 250px;
}
