.input-error {
  display: block;
  visibility: hidden;
  color: var(--clr-red-light);
}

.input-error.show {
  visibility: visible;
}

.todo-item {
  margin: 5px 10px 20px 10px;
  border: 1px solid var(--clr-primary-3);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--clr-white);
  box-shadow: 1px 3px 10px 1px #0000005e;
  position: relative;
  transition: ease-in;
}

.ticket-column {
  flex: 1;
  min-height: 600px;
}

.ticket-column:nth-child(2) {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.lists-container {
  display: flex;
}

.ticket-column > h2 {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.delete-ticket-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(173, 0, 0);
  font-size: 16px;
}

.delete-ticket-button:hover {
  color: red;
}
